<table class='table table-hover table-inverse' style="margin-top: 100px;">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th>introduciton</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>

    <tr>
      <td>
        <%= attachment_image_tag user, :profile_image, :fill, 30,20, format: 'jpeg' %>
      </td>
      <td><%= user.name %></td>
      <td>
        <%= user.introduction %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>