<%= render 'users/users/info',book: @book %>
<div class="col-xs-9">
  <table class='table table-hover table-inverse' style="margin-top: 100px;">
    <thead>
      <tr>
        <th>image</th>
        <th>Title</th>
        <th>body</th>
        <th>auther</th>
        <th>evaluation</th>
      </tr>
    </thead>
      <%= render "index", books: @books %>
  </table>
</div>