<%= render 'users/users/info',book: @book %>
<div class="col-xs-9">
  <table class='table table-hover table-inverse' style="margin-top: 100px;">
    <thead>
      <tr>
        <th>画像</th>
        <th>題名</th>
        <th>要約</th>
        <th>作者</th>
        <th>おススメ</th>
      </tr>
    </thead>
    <%= render "index", books: @books %>
  </table>
</div>